/DESO6_Quan_Ly_Thiet_bi_Trong_Phong_Hoc/nbproject/private/
/DESO6_Quan_Ly_Thiet_bi_Trong_Phong_Hoc/build/
/DESO7_Quan_Ly_Du_An/nbproject/private/
/DESO7_Quan_Ly_Du_An/build/
/DESO8_Quan_Ly_Sap_Xep_Phong_Hoc/nbproject/private/
/DESO8_Quan_Ly_Sap_Xep_Phong_Hoc/build/
/DESO40_QuanLyTinhCongTheoDoanhThu/nbproject/private/
/DESO34/nbproject/private/
/DESO34/build/